/**
header color:#36648B
hover over color : #2F2F4F 
background-color grey :#525C65  f3f4f4
**/

/**
header color:#36648B
hover over color : #2F2F4F 
background-color grey :#525C65  f3f4f4
**/
html{}

body{
	background-color: #f1f1f1;
    padding-top:50px;
	
}

textarea{
	resize:vertical;
}

.login{
	margin-top:7%;
}

.nav-stacked > li > a{
	padding-left:0px;
	padding-right:0px;
}

.navbar {
    color:white;
}

.navbar-nav{
	margin:0;
}

.navbar-inverse{
	/** 36648b **/
    background-color:#154889;
}

.navbar .nav > li> a{
    color:#fff;
	padding-top:17px;
}

.navbar .nav > .active > a{
	/** 2f2f4f **/
    background-color:#2c3563;
}

.navbar .nav > li > a:hover {
    background-color:#2c3563;
}

.navbar .navbar-right > li > a:hover{
    background-color:#2c3563;
}

.navbar-brand{
}


/** optional deisng for input typ=e"text or email"
.loginTxt:focus{
	border: 2px solid #f3f4f4;
}**/

.loginDiv{
  background-color: #fff;
  position: relative;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width:500px;
  
  border-radius: 4px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .5);
}

.projectPaneSection {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.projectPaneContent{
	width:100%;
}

.projectTiles{
	margin:auto;
	list-style: none;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
}
.projectTile{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 140px;
    width: 500px;
    background: #FFF;
    box-sizing: border-box;
    margin-bottom: 32px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .projectTile {
		margin-left:-30px;
        width:280px;
    }
}

.projectTileHeader{
	width:100%;
	border-bottom: 2px solid #EFEFEF;
    display:inline-block;
    align-items: flex-start;
    padding: 10px 15px;
}

.projectTileContent{
	box-sizing: border-box;
    padding: 10px 15px;
    display: -ms-flexbox;
}

/** side nav **/
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
	background-color:#fff;
	border-right:1px solid #f1f1f1;
}

.sidenav ul{
	list-style:none;
	padding-left: 0px;
}

.sidenav li a{
    text-decoration: none;
	
    color: #818181;
    display: block;
    transition: 0.3s;
    padding:15px 15px;
}


.sidenav li.current a{
	color:#fff;
	background-color:#2c3563;
}


.sidenav li:hover a:hover, .offcanvas li:focus a:focus{
    color: #fff;
	background-color:#2c3563;
}

.sidenav .closebtn {
	display:block;
	position:absolute;
	width:100%;
	left:0;
    bottom: 0;
    
}

#main {
    padding: 15px;
	padding-left:0px;
	padding-top:0px;
	height:100%;
	z-index:1;
	
	background-color:#f1f1f1;
	margin-left:150px;
}

#md12{
	padding:0px 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav li {font-size: 18px;}
}

/** backlog **/
#backlog{
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
	height:100%;
	border-right: 1px solid #f1f1f1;
	
}
.minimize{
	text-decoration:none;
	font-size: 12px;
	color:#999;
	margin-left:12px;
}

.backlogTitle{
	box-sizing:border-box;
	position:relative;
	display:inline-block;
	width:100%;
	font-weight:bold;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	overflow-x:hidden;
	font-size:16px;
	border-bottom:1px solid black;
}

.addBacklog{
	padding-top:0px;
	font-size:15px;
	white-space: nowrap;
	display:block;
	text-decoration: none;
	float:right;
	flex-wrap: wrap;
	box-sizing:border-box;
}

.addBacklog > i{
	color:#000;
}

.backlogLists{
	box-sizing:border-box;
	display:inline-block;
	width:100%;
}

.backlogLists> ul >li{
	line-height:50px;
}

.backlogLists > ul > li > a{
	background-color:#fff;
	padding-left:10px;
}

.dropPlace{
	height: 300px !important; 
}
