<div class="sprintTitle">
<span>Sprint Backlog</span>
<span class="minimize" style="margin-left:12px;padding-top:9px"> 
<span class="badge">{{sprintListsActive.length}} active sprint ,{{sprintLists.length}} inactive sprints</span> </span>
<button class="btn btn-default addSprint" data-toggle="modal" data-target="#sprintCreateModal" style="color:black"><i class="glyphicon glyphicon-plus"></i> Create sprint</button>

</div>

<div ng-class="sprintListsClass" ng-repeat="sprintActive in sprintListsActive track by $index">
	<div class="sprintListTop">
		<div>
			<span>Active Sprint </span>
			<span class="badge">{{sprintActive.backlogs.length}} issues /  {{sprintListsActive.backlogTotalPoint}} Total SP</span>
		</div>
		<div class="sprintListRight">
			<div class="dropdown">
				<i data-toggle="dropdown" id="dropdown" role="button" class="glyphicon glyphicon-menu-hamburger white" style="font-weight:bold"></i>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="" ng-click="passEdit(sprintActive)" data-toggle="modal" data-target="#sprintEditModal"><i class="glyphicon glyphicon-edit"></i> Edit Sprint</a></li>
						<li><a href="" ng-click="passDelete(sprintActive)" data-toggle="modal" data-target="#sprintDeleteModal"><i class="glyphicon glyphicon-remove"></i> Delete Sprint</a></li>
					</ul>
			</div>
		</div>
	</div>
	<ul class="nav nav-pills nav-stacked dropPlace" data-drop="true" data-jqyoui-options="{ greedy:true}" ng-model="sprintActive.backlogs" jqyoui-droppable="{multiple:true, onDrop:'dropCallback3(sprintActive.sprintId)'}">
		<li role="presentation" ng-repeat="itemActive in sprintActive.backlogs" data-drag="{{itemActive.drag}}" data-jqyoui-options="{revert:'invalid'}"   ng-model="sprintActive.backlogs" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback2(itemActive, $index)'}">
		<div class="sprintItem" ng-style="calculateStyle(itemActive)">
			<div class="sprintItemHeader">
			<div class="sprintItemHeaderTitle">
				<h5> <a href=""  ng-click="toggle(itemActive)">{{itemActive.backlogTitle}} </a><span class="badge" ng-if="itemActive.backlogStatus == 'Regressed' || itemActive.backlogStatus == 'Rejected'">{{itemActive.backlogStatus}}</span></h5>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Created Since">{{itemActive.dateCreated}}</span>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="sprint Owner"><i class="glyphicon glyphicon-user"></i> {{itemActive.backlogCreator}}</span>
			</div>
			<div class="sprintItemHeaderTitleDetails">
				<div class="sprintDetails">
					<p class="minimize">Story Pts: {{itemActive.backlogStoryPoint}}</p>
					<p class="minimize">Type: {{itemActive.backlogType}}</p>
				</div>
			</div>
			</div>
		</div>
		</li>
	</ul>
	<hr>
</div>

<div ng-class="sprintListsClass" ng-repeat="sprint in sprintLists track by $index">
	<div class="sprintListTop">
		<div class="sprintListLeft">
			<span>Inactive Sprint #{{$index +1}}</span>
			<span class="badge">{{sprint.backlogs.length}} issues</span>
		</div>
		<div class="sprintListRight">
			<div class="dropdown">
				<button class="btn btn-default" type="button" ng-click="startSprint(sprint.sprintId)" ng-show="sprintListsActive.length ==0">Start Sprint</button>
				<i role="button" data-toggle="dropdown"  id="dropdown"  class="glyphicon glyphicon-menu-hamburger white" style="font-weight:bold"></i>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="" ng-click="passDelete(sprint)" data-toggle="modal" data-target="#sprintDeleteModal"><i class="glyphicon glyphicon-remove"></i> Delete Sprint</a></li>
					</ul>
			</div>
		</div>
	</div>
	<ul class="nav nav-pills nav-stacked dropPlace" data-drop="true" data-jqyoui-options="{ greedy:true}" ng-model="sprint.backlogs" jqyoui-droppable="{multiple:true, onDrop:'dropCallback2(sprint.sprintId)'}">
		<li role="presentation" ng-repeat="item in sprint.backlogs" data-drag="{{item.drag}}" data-jqyoui-options="{revert:'invalid'}"   ng-model="sprint.backlogs" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback2(item, $index)'}">
		<div class="sprintItem" ng-style="calculateStyle(item)">
			<div class="sprintItemHeader">
			<div class="sprintItemHeaderTitle">
				<h5> <a href=""  ng-click="toggle(item)">{{item.backlogTitle}} </a><span class="badge" ng-if="item.backlogStatus == 'Regressed' || item.backlogStatus == 'Rejected'">{{item.backlogStatus}}</span></h5>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Created Since">{{item.dateCreated}}</span>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="sprint Owner"><i class="glyphicon glyphicon-user"></i> {{item.backlogCreator}}</span>
			</div>
			<div class="sprintItemHeaderTitleDetails">
				<div class="sprintDetails">
					<p class="minimize">Story Pts: {{item.backlogStoryPoint}}</p>
					<p class="minimize">Type: {{item.backlogType}}</p>
				</div>
			</div>
			</div>
		</div>
		</li>
	</ul>
	<hr>
</div>

<div class="modal fade" id="sprintDeleteModal" aria-hidden="true" role="dialog" tabindex="-1" >
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 class="modal-title" ng-model="sprintDeletePassed">Delete Sprint</h4>
			</div>
			
			<div class="modal-body">
				<h5 ng-model="passState"> Are you sure to <span style="color:red;font-weight:bold;">delete</span> this sprint?</h5>
				<p> All the backlogs and subtasks belong to this sprint will return to <strong>"Product Backlog"</strong> section </p>
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="deleteSprint()" class="btn btn-danger">Delete Sprint</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->

<div class="modal fade" id="sprintEditModal" aria-hidden="true" role="dialog" tabindex="-1" >
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title" ng-model="sprintEditId">Edit Sprint</h4>
			</div>
			
			<div class="modal-body">
				<form id="editForm" name="sprintEditForm" ng-model="sprint" class="form-group">
					
					<div class="form-group">
						<label>Sprint Goals</label>
						<textarea ng-model="sprintEditGoal" class="form-control" rows="4"></textarea>
					</div>
					
					<div class="form-group">
						<label>Sprint Start Date:</label>
						<input ng-model="sprintEditStartDate" class="form-control" type="date" name="sprintEditStart" required/>
						<div ng-messages="sprintEditForm.sprintEditStart.$error" ng-if="sprintEditForm.sprintEditStart.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Warning!</strong> Sprint Start Date is empty!
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label>Sprint End Date:</label>
						<input ng-model="sprintEditEndDate" class="form-control" type="date" name="sprintEditEnd" required"/>
						<div ng-messages="sprintEditForm.sprintEditEnd.$error" ng-if="sprintEditForm.sprintEditEnd.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Warning!</strong> Sprint End Date is empty!
							</div>
						</div>
						
						<div ng-show="sprintEditStartDate.getTime()  == sprintEditEndDate.getTime() && sprintEditForm.sprintEditStart.$error && sprintEditForm.sprintEditEnd.$error" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Both dates shouldn't be the same </span>
						</div> <!-- create response -->
						
						<div ng-show="sprintEditStartDate.getTime()> sprintEditEndDate.getTime() && sprintEditForm.sprintEditStart.$error && sprintEditForm.sprintEditEnd.$error" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Start date is later than end date </span>
						</div> <!-- create response -->
					</div>
					
				</form>
				
				<div ng-show="editSprintResponse" ng-class="editSprintResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{editSprintResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="updateSprintDetails()" class="btn btn-primary">Update Sprint</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->

<!-- Modal -->
<div class="modal fade" id="sprintCreateModal" aria-hidden="true" role="dialog" tabindex="-1" aria-labelledby="sprintModal">
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
		
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Sprint</h4>
			</div>
			
			<div class="modal-body">
				<form id="createSprintForm" name="sprintForm" class="form-group">
					
					<div class="form-group">
						<label>Sprint Goal</label>
						<textarea ng-model="sprintGoal" class="form-control" rows="4" placeholder="List goals/user stories/epics to achieve in this sprint"></textarea>
					</div>
					
					<div class="form-group">
						<label>Sprint Start Date:</label>
						<input ng-model="sprintStartDate" id="startDate" class="form-control" type="date" name="sprintStart" required/>
						<div ng-messages="sprintForm.sprintStart.$error" ng-if="sprintForm.sprintStart.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Warning!</strong> Sprint Start Date is empty!
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label>Sprint End Date:</label>
						<input ng-model="sprintEndDate" class="form-control" id="endDate" type="date" name="sprintEnd" required"/>
						<div ng-messages="sprintForm.sprintEnd.$error" ng-if="sprintForm.sprintEnd.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Warning!</strong> Sprint End Date is empty!
							</div>
						</div>
						
						<div ng-show="sprintStartDate.getTime()  == sprintEndDate.getTime() && sprintForm.sprintStart.$touched && sprintForm.sprintEnd.$touched" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Both dates shouldn't be the same </span>
						</div> <!-- create response -->
						
						<div ng-show="sprintStartDate.getTime()  > sprintEndDate.getTime() && sprintForm.sprintStart.$touched && sprintForm.sprintEnd.$touched" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Start date is later than end date </span>
						</div> <!-- create response -->
					</div>
					
				</form>
				
				<div ng-show="createSprintResponse" ng-class="createSprintResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{createSprintResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="createSprint()" class="btn btn-primary">Create Sprint</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->
