<div class="backlogTitle">
	<span>Product Backlog</span>
	<span class="minimize" style="margin-left:12px"> 
	<span class="badge">{{backlogLists.length}} issues</span></span>
	<button class="btn btn-default addBacklog" data-toggle="modal" data-target="#backlogCreateModal" style="color:black"><i class="glyphicon glyphicon-plus"></i> Create Backlog</button>
	
</div>
<div ng-class="backlogListsClass">
	<ul class="nav nav-pills nav-stacked dropPlace" data-drop="true" data-jqyoui-options="backlogLists" ng-model="backlogLists" jqyoui-droppable="{index:$index, multiple:true, onDrop:'dropCallback(item, $index)' }">
		<li role="presentation"  data-drag="true" data-jqyoui-options="{revert:'invalid'}" ng-repeat="item in backlogLists" ng-model="backlogLists" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback(item, $index)'}">
		<div class="backlogItem" ng-style="calculateStyle(item)">
			<div class="backlogItemHeader">
			<div class="backlogItemHeaderTitle">
				<h5> <a href=""  ng-click="toggle(item)" >{{item.backlogTitle}} </a> <span ng-if="item.backlogStatus == 'Regressed'" class="badge">{{item.backlogStatus}}</span></h5>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Created Since">{{item.dateCreated}}</span>
				<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Backlog Owner"> - <i class="glyphicon glyphicon-user"></i> {{item.backlogCreator}}</span>
			</div>
			<div class="backlogItemHeaderTitleDetails">
				<div class="backlogDetails">
					<p class="minimize">Story Pts: {{item.backlogStoryPoint}}</p>
					<p class="minimize">Type: {{item.backlogType}}</p>
				</div>
			</div>
			</div>
		</div>
		</li>
	</ul>
	
</div>
<hr>	
<!-- Modal -->
<div class="modal fade" id="backlogCreateModal" aria-hidden="true" role="dialog" tabindex="-1" aria-labelledby="backlogModal">
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
		
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Backlog</h4>
			</div>
			
			<div class="modal-body">
				<form id="createBacklogForm" name="backlogForm" class="form-group">
					<div class="form-group">
					<label>Backlog Name</label>
					<input ng-model="backlogCreateName" type="text" class="form-control" name="backlogName" required placeholder="Backlog Name">
					
					<div ng-messages="backlogForm.backlogName.$error" ng-if="backlogForm.backlogName.$touched">
						<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Warning!</strong> Backlog title is required!
						</div>  <!-- end of ng-message -->
					</div> <!-- end of ng-messages -->
					
					</div>	
					
					<div class="form-group">
						<label>Backlog Type</label>
						<select class="form-control" ng-model="backlogCreateType" ng-options="backlogType.typeName for backlogType in backlogCreateTypes"  ng-init="backlogCreateType = backlogCreateTypes[0]" name="backlogDropDown"></select>
					</div>
					
					<div class="form-group">
						<label>Backlog Description</label>
						<textarea ng-model="backlogCreateDesc" class="form-control" rows="4" name="backlogDesc" placeholder="Backlog Description"></textarea>
					</div>
					
					<div class="form-group">
						<label>Backlog Priority</label>
						<select class="form-control" ng-model="backlogCreatePriority" ng-options="backlogPriority.name for backlogPriority in backlogPriorities"  ng-init="backlogCreatePriority = backlogPriorities[0]" name="backlogDropDown"></select>
					</div>
					
					<div class="form-group">
						<label>Backlog Story Point</label>
						<input ng-model="backlogStoryPoint" type="number" class="form-control" name="backlogStoryPts" placeholder="Backlog Story Point">
					</div>
					
					<div class="form-group">
						<label>Created by {{userEmail}}</label>
					</div>
				</form>

				<div ng-show="createBacklogResponse" ng-class="createBacklogResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{createBacklogResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="createBacklog()" class="btn btn-primary">Create Backlog</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->
