<div class="backlogDetailsTitle">
<h4>Backlog Details <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button></h4>
<hr>
</div>

<div class="backlogDetailsWrap">
	<div class="backlogDetailsGeneral">
	<form class="form-horizontal">
	<h5 class="detailHeader">General Details </h5>
		<div class="form-group">
			<label class="col-sm-2 detailLabel"> Title</label>
			<div class="col-sm-10">
				<input ng-model="backlogDTitle" ng-value="passBacklog.backlogTitle" type="text" class="form-control" name="backlogDTitle">
				<div class="btn-group quickEdit" role="group" aria-label="">
					<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
					<button type="button" class="close" data-toggle="tooltip" ng-click="updateTitle()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
				</div>
			</div>
		</div>
		
		<div class="form-group">
				<label class="col-sm-2 detailLabel">Type</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="backlogDType">	
						<option ng-selected="backlogType.typeName == passBacklog.backlogType" ng-repeat="backlogType in backlogCreateTypes" >{{backlogType.typeName}}</option>
					</select>
					
					<div class="btn-group quickEdit" role="group">
						<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
						<button type="button" class="close" data-toggle="tooltip" ng-click="updateType()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
					</div>
				</div>
		</div>
			
		<div class="form-group">
			<label class="col-sm-2 detailLabel">Story Pts.</label>
			<div class="col-sm-10">
				<input ng-model="backlogDStoryPoint" ng-value="passBacklog.backlogStoryPoint" type="number" class="form-control" name="backlogDSP">
				<div class="btn-group quickEdit" role="group" aria-label="">
					<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
					<button type="button" class="close" data-toggle="tooltip" ng-click="updateSP()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 detailLabel">Status </label>
			<label class="col-sm-10 detailLabel">{{passBacklog.backlogStatus}}</label>
		</div>
			
		<div class="form-group">
			<label class="col-sm-2 detailLabel">Priority</label>
			<div class="col-sm-10">
				<select class="form-control" ng-model="backlogDPriority">	
					<option ng-selected="backlogPriority.name == passBacklog.backlogPriority" ng-repeat="backlogPriority in backlogPriorities" >{{backlogPriority.name}}</option>
				</select>
					
				<div class="btn-group quickEdit" role="group">
					<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
					<button type="button" class="close" data-toggle="tooltip" ng-click="updatePriority()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
				</div>
			</div>
		</div>
			
		<div class="form-group">
			<div class="col-md-12">
				<label class="detailLabel">Description</label>
					<textarea ng-model="backlogDDesc" class="form-control" rows="4" name="backlogDDesc"></textarea>
						
					<div class="btn-group quickEdit" role="group">
						<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
						<button type="button" class="close" data-toggle="tooltip" ng-click="updateDesc()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
					</div>
			</div>
		</div>
		<hr>
		
		<h5 class="detailHeader">People</h5>
			<div class="form-group">
				<label class="col-sm-4 detailLabel">Backlog Owner</label>
				<label class="col-sm-3 "> {{passBacklog.backlogCreator}}</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 detailLabel">Assignees</label>
				<label class="col-sm-3 ">  AVAILABLE SOON-ISH </label>
			</div>
		<hr>
		<h5 class="detailHeader">Dates </h5>
			<div class="form-group">
				<label class="col-sm-4 detailLabel">Created on</label>
				<label class="col-sm-8">{{passBacklog.dateCreated}}</label>
			</div>
			
			<div class="form-group">
				<label class="col-sm-4 detailLabel">Modified on</label>
				<label class="col-sm-8"> {{passBacklog.dateModified}}</label>
			</div>
		
		<hr>
		<div class="taskHeader">
			<span class="taskHeaderLeft">Tasks</span>
			<div class="taskHeaderRight">
				<i role="button" data-toggle="modal" data-target="#taskCreateModal" class="glyphicon glyphicon-plus"></i> 
			</div>
		</div>
			<div class="taskItem" ng-repeat="task in taskLists">
				<div class="taskItemHeader">
					<span>{{task.tasksTitle}}  <span class="badge">{{task.tasksStatus}}</span></span>
				</div>
				<div class="dropdown taskOptions">
					<i data-toggle="dropdown" id="dropdown" class="glyphicon glyphicon-menu-hamburger white" role="button" style="font-weight:bold"></i>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="" ng-click="passEditTask(task)" data-toggle="modal" data-target="#taskEditModal"><i class="glyphicon glyphicon-edit"></i>Edit 
						Task</a></li>
						<li><a href="" ng-click="passDeleteTask(task)" data-toggle="modal" data-target="#taskDeleteModal"><i class="glyphicon glyphicon-remove"></i> Delete Task</a></li>
					</ul>
				</div>
			</div>
		<hr>
		<h5 class="detailHeader">Comments </h5>
		
		<div ng-repeat="comment in commentLists track by $index">
			<div class="panel panel-info" >
				<div class="panel-heading">
				<div class="panelHeader">
					<span class="panelTitle">{{comment.email}} - {{comment.dateComment}}</span>
					<div class="dropdown panelOptions">
						<i data-toggle="dropdown" id="dropdown" class="glyphicon glyphicon-menu-hamburger" role="button" ></i>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="" ng-click="editComment(comment)"><i class="glyphicon glyphicon-edit"></i> Edit 
							Comment</a></li>
							<li><a href="" ng-click="deleteComment(comment, $index)"><i class="glyphicon glyphicon-remove"></i> Delete Comment</a></li>
						</ul>
					</div>
					
				</div>
				</div>
				<div class="panel-body">
					{{comment.comment}}
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
			<textarea ng-model="backlogDComment" rows="4" class="form-control" name="backlogNComment"></textarea>
			<br>
			<button style="float:right" ng-disabled="!backlogDComment" ng-click="comment()" class="btn btn-default">Comment</button>
			</div>
		</div>
		<br>
		
	</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="taskCreateModal" aria-hidden="true" role="dialog" tabindex="-1">
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
		
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Task</h4>
			</div>
			
			<div class="modal-body">
				<form id="createTaskForm" name="taskForm" class="form-group">
					<div class="form-group">
						<label>Task Title</label>
						<input ng-model="taskCreateTitle" type="text" class="form-control" name="taskTitle" required placeholder="Task Title">
					
						<div ng-messages="taskForm.taskTitle.$error" ng-if="taskForm.taskTitle.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> Task title is required!
							</div>  <!-- end of ng-message -->
					</div> <!-- end of ng-messages -->
					</div>
					
					<div class="form-group">
						<label>Task Description</label>
						<textarea ng-model="taskCreateDesc" class="form-control" rows="4" placeholder="Task Description"></textarea>
					</div>
				</form>

				<div ng-show="createTaskResponse" ng-class="createTaskResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{createTaskResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="createTask()" class="btn btn-primary">Create Task</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->

<div class="modal fade" id="taskEditModal" aria-hidden="true" role="dialog" tabindex="-1" >
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title" ng-model="taskEditId">Edit Task</h4>
			</div>
			
			<div class="modal-body">
				<form name="taskEditForm" class="form-group">
					<div class="form-group">
						<label>Task Title</label>
						<input ng-model="taskEditTitle" type="text" class="form-control" name="taskeditTitle" required placeholder="Task Title">
					
						<div ng-messages="taskEditForm.taskEditTitle.$error" ng-if="taskEditForm.taskEditTitle.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> Task title is required!
							</div>  <!-- end of ng-message -->
					</div> <!-- end of ng-messages -->
					</div>
					
					<div class="form-group">
						<label>Task Description</label>
						<textarea ng-model="taskEditDesc" class="form-control" rows="4" placeholder="Task Description"></textarea>
					</div>
				</form>
				
				<div ng-show="editTaskResponse" ng-class="editTaskResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{editTaskResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="editTask()" class="btn btn-primary">Update Sprint</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->

<div class="modal fade" id="taskDeleteModal" aria-hidden="true" role="dialog" tabindex="-1" >
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 class="modal-title" ng-model="passTaskDelete">Delete Task</h4>
			</div>
			
			<div class="modal-body">
				<h5 ng-model="passIndex"> Are you sure to <span  style="color:red;font-weight:bold;">delete</span> this task?</h5>
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="deleteTask()" class="btn btn-danger">Delete Task</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->
<!--</div> for ng controller -->

