<project-header></project-header>
<side-bar></side-bar>
<div  id="main2">
<div class="col-md-12" id="tasks">
	<div ng-class="colSize? 'col-md-9':'col-md-12'" style="padding:0px">

		<div ng-show="emptyActiveSprintResponse" class="emptyActiveSprint" role="alert">
			{{emptyActiveSprintResponseMessage}}
		</div> <!-- empty sprint response -->

		<div ng-show="!emptyActiveSprintResponse" class="col-md-12 activeSprintDetails">
			<div class="activeSprintTop">
				<div class="activeSprintLeft">
					<p>{{sprintGoal}}</p>
				</div>
				<div class="activeSprintRight">
				<div class="activeSprintRightDetails">
					<span class="label label-primary">{{activeSprints[0].backlogTotalBV}} BV</span>
					<span class="label label-primary">{{activeSprints[0].backlogTotalSP}} SP</span>
				</div>
					<div class="dropdown taskOptions">
					<h4 data-toggle="dropdown" class="duration" role="button"><i class="glyphicon glyphicon-time"></i> {{numberDays}}</h4>
						<span class="dropdown-menu dropdown-menu-right" id="dropdownCustom" role="menu">
						<div class="dropdownDetails">
							<p>Sprint Start Date: <br>{{sprintStartDate}}</p>
							<p>Sprint End Date: <br>{{sprintEndDate}}</p>
							<p>Planned Days: <br>{{plannedNumberDays}}</p>
							<p>Gone Days: <br>{{goneNumberDays}}</p>
						</div>
						</span>
					</div>
					<small><button class="btn btn-default" ng-click="completeSprint()">Complete Sprint </button></small>
					
				</div>
			</div>
		</div>
		<div ng-show="!emptyActiveSprintResponse">
			<div class="title">
				<span class="eachTitle">Active Backlogs</span>
				<span class="eachTitle">To-do</span>
				<span class="eachTitle">In-Progress</span>
				<span class="eachTitle">Done</span>
			</div>
		</div>
		<ul class="nav nav-pills nav-stacked eachLists" ng-repeat="backlog in backlogActive track by $index">
		<span class="minimizeTitle" style="margin-left:25px">Active Backlog #{{$index +1}}</span>
			<li role="presentation"> 
				<div class="col-md-3 eachTask">
					<div class="activeBacklogs" ng-style="calculateStyle(backlog)">
						<div class="activeSprintItemHeader">
							<div class="backlogItemHeaderTitle">
							<h6> <a href="">{{backlog.backlogTitle}} </a></h6>
								<div class="activeSprintItemDetails">
									<h6 class="label label-primary">SP: {{backlog.backlogStoryPoint}}</h6>
									<h6 class="label label-primary">Type: {{backlog.backlogType}}</h6>
									<h6 class="label label-primary">Business Value: {{backlog.backlogBusinessValue}}</h6>
								</div>
								<div class="backlogItemHeaderDetails">
									<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Created Since">{{backlog.dateCreated}}</span>
									<span class="minimize" data-toggle="tooltip" data-placement="bottom" title="Backlog Owner"> - <i class="glyphicon glyphicon-user"></i> {{backlog.backlogCreator}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 eachTask">
				<span class="minimizeTitle">To-do</span>
					<ul class="nav nav-pills nav-stacked toDoList dropPlace2"  data-drop="{{droppable}}" data-jqyoui-options="{ greedy:true}" ng-model="backlog.tasks" jqyoui-droppable="{multiple:true, onDrop:'dropCallback4(backlog)'} ">
						<li ng-repeat="eachTask in backlog.tasks |  filter : {tasksStatus: 'To-do'}" data-drag="true" data-jqyoui-options="{revert:'invalid'}"   ng-model="backlog.tasks" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback4(eachTask, backlog.backlogId)'}">
						<div class="toDoItem">
							<h5><a href="" ng-click="toggleTask(eachTask)">{{eachTask.tasksTitle}}</a>  
							<span ng-class="labelling(eachTask.tasksStatus)">{{eachTask.tasksStatus}}</span></h5>
							<h5><span class="minimize"><span ng-if="eachTask.assignee != 'Unassigned'">Assigned to: </span> {{eachTask.assignee}}</span></h5>
						</div>
						</li>
					</ul>
				</div>		
				
				<div class="col-md-3 eachTask">
				<span class="minimizeTitle">In-Progress</span>
					<ul class="nav nav-pills nav-stacked toDoList dropPlace2" data-drop="{{droppable}}"  data-jqyoui-options="{ greedy:true}" ng-model="backlog.tasks" jqyoui-droppable="{multiple:true, onDrop:'dropCallback5(backlog)'}" >
						<li ng-repeat="eachTask in backlog.tasks |  filter : {tasksStatus: 'In-Progress'}" data-drag="true" data-jqyoui-options="{revert:'invalid'}"   ng-model="backlog.tasks" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback4(eachTask, backlog.backlogId)'}">
						<div class="toDoItem">
							<h5><a href="" ng-click="toggleTask(eachTask)">{{eachTask.tasksTitle}}</a>  <span ng-class="labelling(eachTask.tasksStatus)">{{eachTask.tasksStatus}}</span></h5>
							<h5><span class="minimize"><span ng-if="eachTask.assignee != 'Unassigned'">Assigned to: </span> {{eachTask.assignee}}</span></h5>
						</div>
						</li>
					</ul>
				</div>
						
				<div class="col-md-3 eachTask">
				<span class="minimizeTitle">Done</span>
					<ul class="nav nav-pills nav-stacked toDoList dropPlace2" data-drop="{{droppable}}"  data-jqyoui-options="{ greedy:true}" ng-model="backlog.tasks" jqyoui-droppable="{multiple:true, onDrop:'dropCallback6(backlog)'}" >
						<li ng-repeat="eachTask in backlog.tasks |  filter : {tasksStatus: 'Done'}" data-drag="false" data-jqyoui-options="{revert:'invalid'}"   ng-model="backlog.tasks" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback4(eachTask, backlog.backlogId)'}">
						<div class="toDoItem">
							<h5><a href="" ng-click="toggleTask(eachTask)"><strike ng-if="eachTask.tasksStatus =='Done'">{{eachTask.tasksTitle}}</strike></a>  <span ng-class="labelling(eachTask.tasksStatus)">{{eachTask.tasksStatus}}</span></h5>
							<h5><span class="minimize"><span ng-if="eachTask.assignee != 'Unassigned'">Assigned to: </span> {{eachTask.assignee}}</span></h5>
						</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div  ng-class="colSize? 'col-md-3': 'hidden'" id="task-details">
		<task-details></task-details>
	</div>
	
</div>
<div ng-show="snackbarShow" ng-class="snackbarClass" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{snackbarMessage}}
</div>

</div>