<project-header></project-header>
<side-bar></side-bar>

<div id="main">
	<div class="col-md-12" id="releases-container">
		<div class="page-header" id="releases-header">
			<span class="header">Releases</span>
			<hr>
			<button class="btn btn-primary" data-toggle="modal" data-target="#releaseCreateModal" > Add Release</button>
		</div>
		
		<div style="padding:0px" class="col-md-12">
			<div class="panel-group"  id="accordion-group" role="tablist" aria-multiselectable="true">
				<div class="panel panel-primary" ng-repeat="release in releaseList track by $index">
				<div class="panel-heading releaseHeader" role="tab" id="headingOne">
					<div class="releaseHeaderLeft">
						<span class="panel-title">
						
						<span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">{{release.releaseName}} 
						<span class="minimize" style="color:white"> Release Dates: {{release.releaseStartDate}}  - {{release.releaseEndDate}}</span>
						</span>
						</span>
					</div>
					<div class="releaseHeaderRight">
						<button style="text-align:right" ng-click="deleteVersion(release.releaseId)" class="btn btn-danger">Delete Version </button>
					</div>
				</div>
					<div id="collapse{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<table class="table table-striped">
							<th class="col-md-1">Priority</th>
							<th class="col-md-1">Backlog Type</th>
							<th class="col-md-1">SP</th>
							<th class="col-md-1">Business Value</th>
							<th class="col-md-7">Title</th>
							<th class="col-md-1">Status</th>
							<tr ng-repeat="backlog in release.releaseBacklogs track by $index">
							<td class="col-md-1">{{backlog.backlogPriority}}</td>
							<td class="col-md-1">{{backlog.backlogType}}</td>
							<td class="col-md-1">{{backlog.backlogStoryPoint}}</td>
							<td class="col-md-1">{{backlog.backlogBusinessValue}}</td>
							<td class="col-md-7">{{backlog.backlogTitle}}</td>
							<td class="col-md-1">{{backlog.backlogStatus}}</td>
							</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="modal fade" id="releaseCreateModal" aria-hidden="true" role="dialog" tabindex="-1" aria-labelledby="releaseModal">
	<div class="modal-dialog">
      <!-- Modal content-->
		<div class="modal-content">
		
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Release</h4>
			</div>
			
			<div class="modal-body">
				<form id="createReleaseForm" name="releaseForm" class="form-group">
					
					<div class="form-group">
						<label>Version Name:</label>
						<input ng-model="releaseName" class="form-control" type="text" placeholder="Example : Version 1.0" name="releaseName" />
						
					</div>
					
					<div class="form-group">
						<label>Release Description:</label>
						<textarea ng-model="releaseDesc" class="form-control" rows="4" placeholder="Release Notes and Goals"></textarea>
					</div>
					
					<div class="form-group">
						<label>Release Start Date:</label>
						<input ng-model="releaseStartDate" id="startDate" class="form-control" type="date" name="releaseStart" />
						
					</div>
					
					<div class="form-group">
						<label>Release End Date:</label>
						<input ng-model="releaseEndDate" class="form-control" id="endDate" type="date" name="releaseEnd" />
						<div ng-messages="releaseForm.releaseEnd.$error" ng-if="releaseForm.releaseEnd.$touched">
							<div ng-message="required" class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<strong>Warning!</strong> release End Date is empty!
							</div>
						</div>
						
						<div ng-show="releaseStartDate.getTime()  == releaseEndDate.getTime() && releaseForm.releaseStart.$touched && releaseForm.releaseEnd.$touched" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Both dates shouldn't be the same </span>
						</div> <!-- create response -->
						
						<div ng-show="releaseStartDate.getTime()  > releaseEndDate.getTime() && releaseForm.releaseStart.$touched && releaseForm.releaseEnd.$touched" class="alert alert-danger" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>Warning!</strong> <span> Start date is later than end date </span>
						</div> <!-- create response -->
					</div>
					
				</form>
				
				<div ng-show="createReleaseResponse" ng-class="createReleaseResponseClass" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{createReleaseResponseMessage}}
				</div> <!-- create response -->
			</div>
			
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
				<button type="button" ng-click="createRelease()" class="btn btn-primary">Create Release</button>
			</div>
      </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal -->