<div class="backlogDetailsTitle">
<h4>Task Details <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button></h4>
<hr>
</div>

<div class="backlogDetailsWrap">
	<div class="backlogDetailsGeneral">
		<form class="form-horizontal">
			<h5 class="detailHeader">General Details </h5>
				<div class="form-group">
					<label class="col-sm-2 detailLabel"> Title</label>
					<div class="col-sm-10">
						<input ng-model="taskDTitle" ng-value="" type="text" class="form-control" name="taskTitle">
						<div class="btn-group quickEdit" role="group" aria-label="">
							<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
							<button type="button" class="close" data-toggle="tooltip" ng-click="updateTaskTitle()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
						</div>
					</div>
				</div>
								
				<div class="form-group">
					<label class="col-sm-2 detailLabel">Status </label>
					<label class="col-sm-10 detailLabel"><span class="badge">{{taskDStatus}}</span></label>
				</div>
				
				<div class="form-group">
					<div class="col-md-12">
						<label class="detailLabel">Description</label>
							<textarea ng-model="taskDDesc" class="form-control" rows="4" name="taskDesc"></textarea>
								
							<div class="btn-group quickEdit" role="group">
								<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
								<button type="button" class="close" data-toggle="tooltip" ng-click="updateTaskDesc()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
							</div>
					</div>
				</div>
			
				<hr>
				
				<h5 class="detailHeader">People</h5>				
				<div class="form-group">
					<label class="col-sm-2 detailLabel">Assignees</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="taskDAssignee">
							<option value="Unassigned">Unassigned</option>
							<option ng-selected="taskDAssignee == user.email" ng-repeat="user in userLists" >{{user.email}}</option>
						</select>
						
						<div class="btn-group quickEdit" role="group">
								<button type="button" class="close" data-toggle="tooltip" ng-click="retain()" data-placement="bottom" title="Retain Title" style="padding-right:5px"><small><i class="glyphicon glyphicon-remove"></i></small></button>
								<button type="button" class="close" data-toggle="tooltip" ng-click="updateAssignee()" data-placement="bottom" title="Update Title" style="padding-right:10px"><small><i class="glyphicon glyphicon-ok"></i></small></button>
							</div>
					</div>
				</div>
				
				<hr>
				
				<h5 class="detailHeader">Dates </h5>
					<div class="form-group">
						<label class="col-sm-4 detailLabel">Created on</label>
						<label class="col-sm-8">{{passTask.dateCreated}}</label>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 detailLabel">Modified on</label>
						<label class="col-sm-8"> {{passTask.dateModified}}</label>
					</div>
				
				<hr>
				<h5 class="detailHeader">Comments </h5>
			
				<div ng-repeat="comment in taskCommentLists track by $index">
					<div class="panel panel-info" >
						<div class="panel-heading">
						<div class="panelHeader">
							<span class="panelTitle">{{comment.email}} - {{comment.dateComment}}</span>
							<div class="dropdown panelOptions">
							<i ng-show="{{comment.email == userEmail}}" data-toggle="dropdown" id="dropdown" class="glyphicon glyphicon-menu-hamburger" role="button" style="font-weight:bold"></i>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="" ng-click="editComment(comment)"><i class="glyphicon glyphicon-edit"></i> Edit 
								Comment</a></li>
								<li><a href="" ng-click="deleteTaskComment(comment, $index)"><i class="glyphicon glyphicon-remove"></i> Delete Comment</a></li>
							</ul>
						</div>
							
						</div>
						</div>
						<textarea class="form-control" readonly rows="4" ng-model="comment.taskComment" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
					<textarea ng-model="tasksDComment" rows="4" class="form-control" name="backlogNComment"></textarea>
					<br>
					<button style="float:right" ng-disabled="!tasksDComment" ng-click="commentTask()" class="btn btn-default">Comment</button>
					</div>
				</div>
			<br>
		</form>
	</div>
</div>

