<div class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <ul class="nav navbar-nav">
		<li ng-class="isActive('/home')"><a class="navbar-brand" href="#/home">RE Tool</a></li>
	  </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
	<!-- navbar left -->
	<ul class="nav navbar-nav">
		<li ng-class="isActive('{{pathParams}}')" ng-show="currentPath"><a href="">{{headerProjectName}}</a></li>
		<li ng-class="isActive('/works')"><a href="#/works">My Works</a></li>
      </ul>
	  
	 <!-- navbar right -->
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userEmail}} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a ng-click="settings()" href=""><span class="glyphicon glyphicon-cog"  aria-hidden="true"></span> Account Settings </a></li>
				<li><a ng-click="logout()" href=""><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logout </a></li>
				
			</ul>
        </li>
    </ul>
	
    </div><!-- /.navbar-collapse -->
</nav>
</div><!-- /.container-fluid -->